* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 50%;
    height: 300px;
    background-color: aqua;
}
.main{
    width: 1200px;
    height: 320px;
    background-color: rgba(2, 61, 61, 0.359);
    text-align: center;
    border: dotted 3px black;
    border-radius: 50px;
    margin: 20px auto;
    box-shadow: 0px 0px 20px 5px black;
}
.main-title{
    display: inline-block;
    font-size: 30px;
    color: rgb(15, 29, 27);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.main-bio{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}